{% block head %}
<style type="text/css">
	.menulateral{
		width: 260px;
		float: right;
	}
	.newsletter{
		background: #d1d8fc;
		width: 260px;
		height: 320px;
	}
	.newsletter input[type="submit"]{
		background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%), rgba(30, 177, 40, 0.70); /* FF3.6+ */
		background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%), rgba(30, 177, 40, 0.70); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(0,0,0,0.2))), rgba(30, 177, 40, 0.70); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(30, 177, 40, 0.70); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(30, 177, 40, 0.70); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(30, 177, 40, 0.70); /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(30, 177, 40, 0.70); /* W3C */
		border-radius: 10px;
		border: 0;
		color: white;
		font-family: "Montserrat",sans-serif;
		font-size: 14px;
		font-weight: 900;
		height: 40px;
		width: 220px;
		box-shadow: 0 -4px 0 rgba(0,0,0,0.2) inset;
		-moz-box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.2) inset;
		-webkit-box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.2) inset;
		margin: 30px 0 0 20px;
	}
	.newsletter input[type="submit"]:hover{
	}
	.newsletter input[type="submit"]:active{
		box-shadow: none;
		background: rgba(30, 177, 40, 0.70); /* FF3.6+ */
	}
	.titulo_newsletter{
		font-size: 16px;
		color: #3236a8;
		padding: 30px 0 0 20px;
	}
	.linha input{
		border: 1px solid #b5b5b5;
    	border-radius: 10px;
   		color: #3a3a3a;
    	font-family: "Lato",sans-serif;
    	font-size: 14px;
    	font-weight: 300;
    	height: 40px;
    	width: 220px;
    	margin: 20px 0 0 20px;
    	padding-left: 20px;

	}
	.titulo_categoria{
		font-size: 16px;
		color: #333333;
		padding: 60px 0 0 0;
	}
	.categorias{
		font-family: "Montserrat",sans-serif;
		font-size: 13px;
		font-weight: 400;
	}
	.categorialist{
		padding-top: 20px;
	}
	.categorialist a, .postslist a{
		display: block;
	}
	#facebook input[type="button"]{
		background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.2) 100%), rgb(61, 79, 160);
		background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%), 
		rgb(61, 79, 160); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(0,0,0,0.2))), rgb(61, 79, 160); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(61, 79, 160); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(61, 79, 160); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%),
		rgb(61, 79, 160); /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(61, 79, 160); /* W3C */
		border-radius: 0px;
		border: none;
		color: white;
		font-family: "Montserrat",sans-serif;
		font-size: 14px;
		font-weight: 900;
		height: 40px;
		width: 260px;
		position: relative;
		box-shadow: 0 -4px 0 rgba(0,0,0,0.2) inset;
		-moz-box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.2) inset;
		-webkit-box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.2) inset;
	}
	#facebook:hover input[type="button"]{
		background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.2) 100%), rgba(61, 79, 160, 0.9);
		background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%), 
		rgba(61, 79, 160, 0.9); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(0,0,0,0.2))), rgba(61, 79, 160,0.9); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(61, 79, 160, 0.9); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(61, 79, 160, 0.9); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%),
		rgba(61, 79, 160, 0.9); /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(61, 79, 160, 0.9); /* W3C */
	}
	#facebook:active  input[type="button"]{
		box-shadow: none;
		background: rgba(61, 79, 160, 0.9);
	}
	#twitter input[type="button"]{
		background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.2) 100%), rgb(76, 196, 246);
		background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%), 
		rgb(76, 196, 246); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(0,0,0,0.2))), rgb(76, 196, 246); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(76, 196, 246); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(76, 196, 246); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%),
		rgb(76, 196, 246); /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(76, 196, 246); /* W3C */
		border-radius: 0px;
		border: none;
		color: white;
		font-family: "Montserrat",sans-serif;
		font-size: 14px;
		font-weight: 900;
		height: 40px;
		width: 260px;
		position: relative;
		box-shadow: 0 -4px 0 rgba(0,0,0,0.2) inset;
		-moz-box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.2) inset;
		-webkit-box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.2) inset;
	}
	#twitter:hover input[type="button"]{
		background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.2) 100%), rgba(76, 196, 246, 0.9);
		background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%), 
		rgba(76, 196, 246, 0.9); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(0,0,0,0.2))), rgba(76, 196, 246, 0.9); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(76, 196, 246, 0.9); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(76, 196, 246, 0.9); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%),
		rgba(76, 196, 246, 0.9); /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(76, 196, 246, 0.9); /* W3C */
	}
	#twitter:active input[type="button"]{
		box-shadow: none;
		background: rgba(76, 196, 246 0.9); /* FF3.6+ */
	}
	#instagram input[type="button"]{
		background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.2) 100%), rgb(235, 122, 61);
		background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%), 
		rgb(235, 122, 61); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(0,0,0,0.2))), rgb(235, 122, 61); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(235, 122, 61); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(235, 122, 61); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%),
		rgb(235, 122, 61); /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(235, 122, 61); /* W3C */
		border-radius: 0px;
		border: none;
		color: white;
		font-family: "Montserrat",sans-serif;
		font-size: 14px;
		font-weight: 900;
		height: 40px;
		width: 260px;
		position: relative;
		box-shadow: 0 -4px 0 rgba(0,0,0,0.2) inset;
		-moz-box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.2) inset;
		-webkit-box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.2) inset;
	}
	#instagram:hover input[type="button"]{
		background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.2) 100%), rgba(235, 122, 61, 0.9);
		background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%), 
		rgba(235, 122, 61, 0.9); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(0,0,0,0.2))), rgba(235, 122, 61, 0.9); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(235, 122, 61, 0.9); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(235, 122, 61, 0.9); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%),
		rgba(235, 122, 61, 0.9); /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(235, 122, 61, 0.9); /* W3C */
	}
	#instagram:active input[type="button"]{
		box-shadow: none;
		background: rgba(235, 122, 61, 0.70); /* FF3.6+ */
	}
	.social a{
		position: relative;
		top: 20px;
		display: block;
		margin: 0 0 10px;
	}
	.social img{
		position: absolute;
		z-index: 999;
		top: 0;
		left: 50px;
		margin: 10px 0 0 10px;
	}
	.maisrecentes{
		font-family: "Montserrat",sans-serif;
		font-size: 12px;
		font-weight: 400;
	}
	.postslist{
		padding-top: 20px;
	}
</style>
{% endblock %}

<div class="menulateral">
	<div class="newsletter">
		<h1 class="titulo_newsletter"> RECEBA DICAS<br />
		IMPERDÍVEIS DIRETO<br />
		NO SEU EMAIL</h1>
		 <div class="linha"> 
		 	{% csrf_token %}
		 	{{form}}
		 </div> 

		<a href="#"><input type="submit" value="QUERO RECEBER"></a>
	</div>

	<div class="categorias">
		<h1 class="titulo_categoria">CATEGORIAS</h1>
		<div class="categorialist">
			{% for cat in categories %}
				<a href="{% url 'Category' cat.slug %}">{{cat|title}} ({{ cat.entries_published.count }})</a>
			{% endfor %}
		</div>
	</div>

	<div class="social">
		<h1 class="titulo_categoria">SIGA A PHOTOPLAY</h1>
		<a href="#" id="facebook"> 
			<img src="{{STATIC_URL}}img/icon_facebook.png">
			<input type="button" value="FACEBOOK">
		</a>
		<a href="#" id="twitter"> 
			<img src="{{STATIC_URL}}img/icon_twitter.png">
			<input type="button" value="TWITTER">
		</a>
		<a href="#" id="instagram"> 
			<img src="{{STATIC_URL}}img/icon_instagram.png">
			<input type="button" value="INSTAGRAM">
		</a>
		
	</div>

	<div class="maisrecentes">
		<h1 class="titulo_categoria">MAIS RECENTES</h1>
		<div class="postslist">
		{% for entry in recent %}
			<a href="{% url 'Post' entry.slug %}">{{entry.title|title}}</a> 
		{% endfor %}
		</div>
	</div>

</div>