{% extends 'portal_base.html' %}


{% block title %}

{% endblock %}


{% block head %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$.datepicker.regional['br'] = {
            closeText: 'Fechar',
            prevText: 'Anterior',
            nextText: 'Próximo',
            currentText: 'Hoje',
            monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho',
            'Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
            monthNamesShort: ['Jan','Fev.','Mar','Abr','Mai','Jun',
            'Jul','Ago','Set','Out','Nov','Dez'],
            dayNames: ['Domingo','Segunda-feira','Terça-feira','Quarta-feira','Quinta-feira','Sexta-feira','Sábado'],
            dayNamesShort: ['Dom','Seg','Ter.','Qua','Qui','Sex','Sab'],
            dayNamesMin: ['D','S','T','Q','Q','S','S'],
            weekHeader: 'Semana',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''};
        $.datepicker.setDefaults($.datepicker.regional['br']);
        $( ".datepicker" ).datepicker( $.datepicker.regional[ "fr" ] );

	});
</script>
<style type="text/css">

	#header{
		height: 100px;
		background: none;z
	}
	#header_container{
		background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%), rgba(33, 63, 154, 1); /* FF3.6+ */;
		background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%), rgba(33, 63, 154, 1); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(0,0,0,0.2))), rgba(33, 63, 154, 1); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(33, 63, 154, 1); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(33, 63, 154, 1); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(33, 63, 154, 1); /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(33, 63, 154, 1); /* W3C */	
		position: fixed;
		z-index: 999;
	}
	#parallax1{
		height: 300px;
		width: 1400px;
		position: relative;
		background-image: url("{{STATIC_URL}}/img/parallax1_produtos.jpg");
	}
	.cHeader{
		background-color: rgb(80,184,72);
		height: 100px; 
		width: 1400px;
	}
	.cHeaderContent{
		width: 1000px;
		left: 50%;
		margin-left: -500px;
		position: relative;
	}
	.cHeader ul{
		list-style: outside none none;
		margin: 0;
		padding: 0;
	}
	.cHeader li{
		float: left;
		margin: 30px 11px 0 0;
	}
	.cHeader h1{
		color: white;
		font-size: 32px;
		margin: 0;
	}
	.cContato{
		width: 1000px;
		position: relative;
		left: 50%;
		margin-left: -500px;
		height: 860px;
		background-color: white;
	}
	.cContatoText{
		float: right;
		width: 370px;
		margin-top: 200px
	}
	.cContato_img{
		width:  370px;

	}
	.cContatoForm{
		width: 480px;
		float: left;
		margin-top: 160px;
	}
	.cContatoForm>label[for=id_service_type_0]{
		font-family: "Montserrat",sans-serif;
		font-size: 20px;
		color: #213f9a;
		font-weight: 900;
		margin: 20px;		
	}
	.cContatoForm ul{
		padding: 0;
	}
	.cContatoForm li{
		font-family: "Lato",sans-serif;
		font-size: 14px;
		color: #3a3a3a;
		font-weight: 300;
		list-style: outside none none;
	}
	.cContatoForm textarea{
		padding: 10px 0 0 20px;
	}
	.cContatoForm input{
		padding: 0px 0 0 20px;
	}
	#id_name{
		border: 1px solid #b5b5b5;
    	border-radius: 10px;
   		color: #3a3a3a;
    	font-family: "Lato",sans-serif;
    	font-size: 14px;
    	font-weight: 300;
    	height: 50px;
    	width: 420px;
    	margin-top: 20px;
	}
	#id_email{
		border: 1px solid #b5b5b5;
    	border-radius: 10px;
   		color: #3a3a3a;
    	font-family: "Lato",sans-serif;
    	font-size: 14px;
    	font-weight: 300;
    	height: 50px;
    	width: 420px;
    	margin-top: 20px;
	}
	#id_date_start{
		border: 1px solid #b5b5b5;
    	border-radius: 10px;
   		color: #3a3a3a;
    	font-family: "Lato",sans-serif;
    	font-size: 14px;
    	font-weight: 300;
    	height: 50px;
    	width: 420px;
    	margin-top: 20px;
	}
	#id_message{
		border: 1px solid #b5b5b5;
    	border-radius: 10px;
   		color: #3a3a3a;
    	font-family: "Lato",sans-serif;
    	font-size: 14px;
    	font-weight: 300;
    	height: 100px;
    	width: 420px;
    	margin-top: 20px;
	}
</style>
{% endblock %}


{% block content %}
<div id="parallax1" class="bgParallax" data-speed="9"></div>
<div class="cContato"> 
	<div class="cContatoForm">
		<form action="/enviar_contato/" method="post">
			{% csrf_token %}
			{{ contact_form.media }}
			{{contact_form}}
			<input type="submit" value="Submit" />
		</form>
	</div>
	<div class="cContatoText">
		<h3 style="font-size: 28px; font-weight: 700;">DEIXE SEU EVENTO</h1>
		<h3 style="font-size: 38px; font-weight: 700;">MAIS DIVERTIDO!</h1>


		<h1 style="font-size: 18px; font-weight: 700; margin-top: 60px;">FOTOS ILIMITADAS</h1>
		<p class="ppadrao">Seus convidados tiram fotos à vontade e levam 
		para casa uma lembrança personalizada.
		</p>

		<h1 style="font-size: 18px; font-weight: 700; margin-top: 60px;">IMAGENS NO TELÃO EM TEMPO REAL</h1>
		<p class="ppadrao">Mais interatividade com projeção das fotos tiradas
		no  totem e das fotos publicadas no Instagram com a hashtag do seu evento.
		</p>

		<img src="{{STATIC_URL}}img/img7.png">
	</div>
</div>

{% endblock %}