{% extends 'portal_base.html' %}


{% block title %}

{% endblock %}


{% block head %}
<style type="text/css">
	#header{
		height: 100px;
		background: none;z
	}
	#header_container{
		background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%), rgba(33, 63, 154, 1); /* FF3.6+ */;
		background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%), rgba(33, 63, 154, 1); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(0,0,0,0.2))), rgba(33, 63, 154, 1); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(33, 63, 154, 1); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(33, 63, 154, 1); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(33, 63, 154, 1); /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(33, 63, 154, 1); /* W3C */	
		position: fixed;
		z-index: 999;
	}
	#parallax1{
		height: 300px;
		width: 1400px;
		position: relative;
		background-image: url("{{STATIC_URL}}/img/parallax1_produtos.jpg");
	}
	.cHeader{
		background-color: rgb(80,184,72);
		height: 100px; 
		width: 1400px;
	}
	.cHeaderContent{
		width: 1000px;
		left: 50%;
		margin-left: -500px;
		position: relative;
	}
	.cHeader ul{
		list-style: outside none none;
		margin: 0;
		padding: 0;
	}
	.cHeader li{
		float: left;
		margin: 30px 11px 0 0;
	}
	.cHeader h1{
		color: white;
		font-size: 32px;
		margin: 0;
	}
	.cContato{
		width: 1000px;
		position: relative;
		left: 50%;
		margin-left: -500px;
		height:  550px;
		background-color: white;
	}
	.cContatoText{
		float: right;
		width: 370px;
		margin-top: 160px
	}
</style>
{% endblock %}


{% block content %}
<div id="parallax1" class="bgParallax" data-speed="9"></div>
<div class="cContato"> 
	<div class="cContatoForm">
		{{contact_form}}
	</div>
	<div class="cContatoText">
		<h3 style="font-size: 28px; font-weight: 700;">DEIXE SEU EVENTO</h1>
		<h3 style="font-size: 38px; font-weight: 700;">MAIS DIVERTIDO!</h1>


		<h1 style="font-size: 18px; font-weight: 700; margin-top: 60px;">FOTOS ILIMITADAS</h1>
		<p class="ppadrao">Seus convidados tiram fotos à vontade e levam 
		para casa uma lembrança personalizada.
		</p>

		<h1 style="font-size: 18px; font-weight: 700; margin-top: 60px;">IMAGENS NO TELÃO EM TEMPO REAL</h1>
		<p class="ppadrao">Mais interatividade com projeção das fotos tiradas
		no  totem e das fotos publicadas no Instagram com a hashtag do seu evento.
		</p>

	</div>
</div>

{% endblock %}