{% extends 'portal_base.html' %}


{% block title %}

{% endblock %}


{% block head %}
<style type="text/css">
	#c_personalizado{
		width: 1000px;
		position: relative;
		left: 50%;
		margin-left: -500px;
		height:  550px;
		background-color: white;
	}
	#text_personalizado{
		float: left;
		width: 660px;
		margin-top: 160px
	}
	#text_personalizado h1{
		margin: 0;
	}
    #img_personalizado{
    	width: 340px;
    	float: left;
    	margin: 0;
    	margin-top: 100px;
    }
     #img_personalizado img{
    	position: relative;
    	right: 18px;

    }

</style>
{% endblock %}


{% block content %}
	<div id="c_personalizado">

		<div id="text_personalizado">
			<h1 style="font-size: 50px; font-weight: 700;">PERSONALIZADO</h1>
			<h1 style="font-size: 30px; font-weight: 300;">DE ACORDO COM SEU EVENTO</h1>

			<p>O Totem PhotoPlay é um equipamento que registra os momentos de seu evento através de fotos. As pessoas se posicionam na frente dele e são clicadas em poses super descontraídas. Para casamentos, aniversários e formaturas, tenha o Totem personalizado e revestido com sua própria arte. Pode ser uma foto, uma caricatura, você escolhe. Em eventos corporativos, estampe sua marca e divulgue patrocinadores.
			</p>
		</div>

		<div id="img_personalizado">
			<img src="{{STATIC_URL}}img/totem.png" >
		</div>
		
	</div>

	
{% endblock %}

Personalizado 
de acordo com seu evento

O Totem PhotoPlay é um equipamento que registra os momentos de seu evento através de fotos. As pessoas se posicionam na frente dele e são clicadas em poses super descontraídas. Para casamentos, aniversários e formaturas, tenha o Totem personalizado e revestido com sua própria arte. Pode ser uma foto, uma caricatura, você escolhe. Em eventos corporativos, estampe sua marca e divulgue patrocinadores.

Conheça nossos produtos

PhotoLembrança
Todas as fotos tiradas no Totem PhotoPlay já saem com uma moldura exclusiva de seu evento. Elas podem ser impressas na hora e entregues para seus convidados levarem para casa.  
As fotos podem ser publicadas em tempo real ou enviadas para seus convidados por e-mail.

PhotoGram
Transforme seu smartphone em uma Polaroid. Imprima fotos direto do seu celular.

Seus convidados adoram tirar fotos e publicar no Instagram? 
O que você acha de poder imprimir essas fotos para que eles levem como lembrança?
Com Photogram, isso é possível. Toda foto publicada no Instagram com a #hashtag de seu evento é capturada e processada por nosso sistema e são então impressas na hora.

PhotoLivro 
Todas as fotos de seu evento reunidas em um único lugar.

O Photolivro é produzido após o evento e reúne todas as fotos tiradas 
no Totem PhotoPlay com uma diagramação moderna, 
para você recordar os momentos inesquecíveis sempre que quiser.V

PhotoProjeção
Tirou uma foto no totem? Agora é só esperar para se ver no telão.
Mais interatividade e diversão para sua festa.

Todas as fotos tiradas no Totem PhotoPlay podem ser automaticamente 
projetadas nos telões e televisores de seu evento. 

PhotoEmpresas
Solução completa para a ativação de sua marca em eventos.
Fotos com a sua marca espalhadas pelo Facebook que geram tráfego para sua página e 
aumentam o engajamento dos usuários.  Crescimento da sua base de fãs e coleta de e-mails para uso em campanhas de marketing.

TENHO INTERESSE EM TER O PHOTOPLAY EM MEU EVENTO!
Uma atração surpreendente. Inove oferencendo interatividade e uma nova experiência.


