 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title> {% block title %} {% endblock %} </title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<style type="text/css">
		#header{
			width: 1400px;
			background-image:url("{{STATIC_URL}}img/banner.png");
		}

		#header_container{
			width: 1000px;

		}
		#content{
			left: 50%;
			margin-left: -720px;
			position: absolute;
			width: 1400px;
		}
		#header_menu ul{
			list-style: outside none none;
		}
		#header_menu li{
			display: inline-block;
		}
	</style>
	{% block head %} {% endblock %}
</head>

<body>
	{% block body %} {% endblock %}
	<div id="content">
		<div id="header">
			<div id="header_container">
				<div id="header_menu">
					<ul>
						<li><img src="{{STATIC_URL}}img/logo.png"></li>
						<li>produtos</li>
						<li>blog</li>
						<li>contato</li>
						<li>solicitar orçamento</li>
					</ul>
				</div>
				<div id="header_banner">
					
				</div>
			</div>
		</div>
		
		<div id="corpo">
			{% block content %} {% endblock %}
		</div>
	</div>

	<div id="footer">
	</div>

</body>
</html>