{% extends 'portal_base.html' %}


{% block title %}

{% endblock %}


{% block head %}
<style type="text/css">
	.c_personalizado{
		width: 1000px;
		position: relative;
		left: 50%;
		margin-left: -500px;
		height:  550px;
		background-color: white;
	}
	.text_personalizado{
		float: left;
		width: 660px;
		margin-top: 160px
	}
	.text_personalizado h1{
		margin: 0;
	}
    .img_personalizado{
    	width: 340px;
    	float: left;
    	margin: 0;
    	margin-top: 100px;
    }
    .img_personalizado img{
    	position: relative;
    	right: 18px;

    }
    .banner_produtos{
    	width: 1400px;
    	background-image: url("{{STATIC_URL}}img/banner2.png");
    	height: 200px;
	}
	.header_produtos{
    	width: 1400px;
    	background-color: #b1b1b1;
    	height: 100px;
	}
	.header_textprodutos{
		width: 1000px;
		position: relative;
		left: 50%;
		margin-left: -500px;
		height: 100%;
		padding-top: 30px;

	}
	.cProdutos{
		width: 1400px;
		height: 490px;
    }
    .cTitulo{
    	width: 1000px;
		position: relative;
		left: 50%;
		margin-left: -500px;
		height: 170px;
	 }
    .cTitulo li{
    	list-style: outside none none;
    	display: inline-block;
    	vertical-align: middle;
    	margin: 120px 20px 0 0;
    }
    .cTitulo ul{
		margin: 0;
		padding: 0;
	}
	.cTexto {
		width: 1400px;
		height: 250px;
		background-color: #50b848;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
		position: relative;
		z-index: 11;
	}
	.cTexto li {
		list-style: outside none none;
		float: left;

	}
	.cTexto ul{
		margin: 0;	
		padding: 0;
	}
	.cTextoContent {
		width: 1000px;
		position: relative;
		left: 50%;
		margin-left: -500px;
		padding-top: 30px;
		height: 250px;
	}
	.cTextoContent input[type="button"]{
		background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.2) 100%), rgb(183, 183, 183);
		background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%), 
		rgb(183, 183, 183); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(0,0,0,0.2))), rgb(183, 183, 183); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(183, 183, 183); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(183, 183, 183); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%),
		rgb(183, 183, 183); /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(183, 183, 183); /* W3C */
		box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.2) inset;
		-moz-box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.2) inset;
		-webkit-box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.2) inset;
		border-radius: 10px;
		border: none;
		color: white;
		font-family: "Montserrat",sans-serif;
		font-size: 12px;
		font-weight: 900;
		height: 40px;
		width: 190px;
		margin-top: 20px
	}
	.cTextoContent input[type="button"]:active{
		box-shadow: none;
		background: rgb(192, 192, 192); /* FF3.6+ */
	}
	.cProdutosFoot {
		width: 1400px;
		height: 70px;
		background-color: rgba(80, 184, 72, 0.7);
		z-index: 10;
	}
	.cIcon{
		position: relative;
		width: 1000px;
		left: 50%;
		margin-left: -500px;
		padding-top: 20px;
	}
	.cIcon ul{
		margin: 0;
		padding: 0;
	}
	.cIcon li{
		float: left;
		list-style: outside none none;
	}
	.cIcon h3{
		font-family: "Montserrat",sans-serif;
		font-size: 16px;
		color: #fff;
		font-weight: 900;
		margin: 5px 10px;
	}
	.cIcon h3, .cIcon img{
		float: left;
	}
	.cIcon input[type="button"]{
		background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.2) 100%), rgb(64, 170, 58);
		background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%), 
		rgb(64, 170, 58); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(0,0,0,0.2))), rgb(64, 170, 58); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(64, 170, 58); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(64, 170, 58); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%),
		rgb(64, 170, 58); /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(64, 170, 58); /* W3C */
		box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.2) inset;
		-moz-box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.2) inset;
		-webkit-box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.2) inset;
		border-radius: 10px;
		border: none;
		color: white;
		font-family: "Montserrat",sans-serif;
		font-size: 12px;
		font-weight: 900;
		height: 40px;
		width: 210px;
		position: relative;
		top: -7px;
	}
	.cIcon input[type="button"]:active{
		box-shadow: none;
		background: rgb(64, 170, 58); /* FF3.6+ */
	}
	input[type="button"].bRed {
		background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.2) 100%), rgb(237, 28, 36);
		background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%), 
		rgb(237, 28, 36); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(0,0,0,0.2))), rgb(237, 28, 36); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(237, 28, 36); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(237, 28, 36); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%),
		rgb(237, 28, 36); /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(237, 28, 36); /* W3C */
	}
	input[type="button"].bRed:active{
		box-shadow: none;
		background: rgb(237, 28, 36); /* FF3.6+ */
	}
		input[type="button"].bBlue {
		background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.2) 100%), rgb(5, 87, 160);
		background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%), 
		rgb(5, 87, 160); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(0,0,0,0.2))), rgb(5, 87, 160); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(5, 87, 160); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(5, 87, 160); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%),
		rgb(5, 87, 160); /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(5, 87, 160); /* W3C */
	}
	input[type="button"].bBlue:active{
		box-shadow: none;
		background: rgb(5, 87, 160); /* FF3.6+ */
	}
	input[type="button"].bPurple {
	background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.2) 100%), rgb(138, 80, 160);
	background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%), 
	rgb(138, 80, 160); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(0,0,0,0.2))), rgb(138, 80, 160); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(138, 80, 160); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(138, 80, 160); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%),
	rgb(138, 80, 160); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(138, 80, 160); /* W3C */
	}
	input[type="button"].bPurple:active{
		box-shadow: none;
		background: rgb(138, 80, 160); /* FF3.6+ */
	}
	
	input[type="button"].bYellow {
	background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.2) 100%), rgb(212, 169, 42);
	background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%), 
	rgb(212, 169, 42); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(0,0,0,0.2))), rgb(212, 169, 42); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(212, 169, 42); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(212, 169, 42); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%),
	rgb(212, 169, 42); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgb(212, 169, 42); /* W3C */
	}
	input[type="button"].bYellow:active{
		box-shadow: none;
		background: rgb(212, 169, 42); /* FF3.6+ */
	}
</style>
{% endblock %}


{% block content %}
<div class="c_personalizado">

	<div class="text_personalizado">
		<h1 style="font-size: 50px; font-weight: 700;">PERSONALIZADO</h1>
		<h1 style="font-size: 30px; font-weight: 300;">DE ACORDO COM SEU EVENTO</h1>

		<p class="ppadrao">O Totem PhotoPlay é um equipamento que registra os momentos de seu evento através de fotos. As pessoas se posicionam na frente dele e são clicadas em poses super descontraídas. Para casamentos, aniversários e formaturas, tenha o Totem personalizado e revestido com sua própria arte. Pode ser uma foto, uma caricatura, você escolhe. Em eventos corporativos, estampe sua marca e divulgue patrocinadores.
		</p>
	</div>

	<div class="img_personalizado">
		<img src="{{STATIC_URL}}img/totem.png" >
	</div>
	
</div>

<div class="banner_produtos">
</div>

<div class="header_produtos">
	<div class="header_textprodutos">
	<h1 style="color: #fff; font-size: 32px;">CONHEÇA NOSSOS PRODUTOS</h1>
	</div>
</div>

<div class="cProdutos">
	<div class="cTitulo">
		<ul>
		<li>
			<img src="{{STATIC_URL}}img/icon1.png">
		</li>
		<li>
			<h1 style="color: #50b848;">PHOTOLEMBRANÇA</h1>
		</li>
		</ul>
	</div>

	<div class="cTexto">
		<div class="cTextoContent">

			<ul>
			<li style="width: 63%">
			<p class="ppadrao" style="color: white;"><b>Todas as fotos tiradas no Totem PhotoPlay já saem com uma moldura exclusiva de seu evento.</b> Elas podem ser impressas na hora e entregues para seus convidados levarem para casa.  
			As fotos podem ser publicadas em tempo real ou enviadas para seus convidados por e-mail.</p>

			<input type="button" value="SAIBA MAIS">

			</li>
			<li style="position: relative; margin-top: -85px;">
			<img src="{{STATIC_URL}}img/img1.png">
			</li>
		</div>	
	</div>
	<div class="cProdutosFoot">
		<div class="cIcon">
		<ul>
			<li style="width: 21%;">
				<img src="{{STATIC_URL}}img/classicon1.png">
				<h3>+DIVERSÃO</h3>
			</li>
			<li style="width: 25%;">
				<img src="{{STATIC_URL}}img/classicon2.png">
				<h3>+INTERATIVIDADE</h3>
			</li>
			<li style="width: 30%;">
				<img src="{{STATIC_URL}}img/classicon3.png">
				<h3>+PERSONALIZAÇÃO</h3>
			</li>
			<li>
				<input type="button" value="SOLICITAR ORÇAMENTO">
			</li>	
		</ul>
		</div>
	</div>
</div>

<div class="cProdutos" style="height: 550px;">
	<div class="cTitulo">
		<ul>
		<li>
			<img src="{{STATIC_URL}}img/icon2.png">
		</li>
		<li>
			<h1 style="color: #ed1c24;">PHOTOGRAM</h1>
		</li>
		</ul>
	</div>

	<div class="cTexto"  style="background-color: #ed1c24; height: 320px;">
		<div class="cTextoContent">

			<ul>
			<li style="width: 63%">
			<p class="ppadrao" style="color: white;"><b>Transforme seu smartphone em uma Polaroid. Imprima fotos direto do seu celular.</b>
			</p>	
			<p class="ppadrao" style="color: white; margin: 0;">Seus convidados adoram tirar fotos e publicar no Instagram?</p>
			<p class="ppadrao" style="color: white; margin: 0;">O que você acha de poder imprimir essas fotos para que eles levem como lembrança?</p>
			<p class="ppadrao" style="color: white; margin: 0;">Com Photogram, isso é possível. Toda foto publicada no Instagram com a #hashtag de seu evento é capturada e processada por nosso sistema e são então impressas na hora.
		    </p>

			<input type="button" value="SAIBA MAIS">

			</li>
			<li style="position: relative; margin-top: -100px;">
			<img src="{{STATIC_URL}}img/img2.png">
			</li>
		</div>	
	</div>
	<div class="cProdutosFoot" style="background-color: rgba(237, 28, 36, 0.7);">
		<div class="cIcon">
		<ul>
			<li style="width: 21%;">
				<img src="{{STATIC_URL}}img/classicon1.png">
				<h3>+DIVERSÃO</h3>
			</li>
			<li style="width: 25%;">
				<img src="{{STATIC_URL}}img/classicon2.png">
				<h3>+INTERATIVIDADE</h3>
			</li>
			<li style="width: 30%;">
				<img src="{{STATIC_URL}}img/classicon4.png">
				<h3>+RESULTADOS</h3>
			</li>
			<li>
				<input type="button" class="bRed" value="SOLICITAR ORÇAMENTO">
			</li>	
		</ul>
		</div>
	</div>
</div>

<div class="cProdutos" style="height: 550px;">
	<div class="cTitulo">
		<ul>
		<li>
			<img src="{{STATIC_URL}}img/icon3.png">
		</li>
		<li>
			<h1 style="color: #0557a0;">PHOTOLIVRO</h1>
		</li>
		</ul>
	</div>

	<div class="cTexto"  style="background-color: #0557a0; height: 320px;">
		<div class="cTextoContent">

			<ul>
			<li style="width: 42%">
			<p class="ppadrao" style="color: white;"><b>Todas as fotos de seu evento reunidas em um único lugar.</b>
			</p>	
			<p class="ppadrao" style="color: white; margin: 0;">O Photolivro é produzido após o evento e reúne as fotos tiradas no Totem PhotoPlay com uma diagramação moderna, para você recordar os momentos inesquecíveis sempre que quiser.
		    </p>

			<input type="button" value="SAIBA MAIS">

			</li>
			<li style="position: relative; margin-top: -100px;">
			<img src="{{STATIC_URL}}img/img3.png">
			</li>
		</div>	
	</div>
	<div class="cProdutosFoot" style="background-color: rgba(5, 87, 160, 0.7);">
		<div class="cIcon">
		<ul>
			<li style="width: 21%;">
				<img src="{{STATIC_URL}}img/classicon1.png">
				<h3>+DIVERSÃO</h3>
			</li>
			<li style="width: 25%;">
				<img src="{{STATIC_URL}}img/classicon2.png">
				<h3>+INTERATIVIDADE</h3>
			</li>
			<li style="width: 30%;">
				<img src="{{STATIC_URL}}img/classicon4.png">
				<h3>+RESULTADOS</h3>
			</li>
			<li>
				<input type="button" class="bBlue" value="SOLICITAR ORÇAMENTO">
			</li>	
		</ul>
		</div>
	</div>
</div>

<div class="cProdutos" style="height: 550px;">
	<div class="cTitulo">
		<ul>
		<li>
			<img src="{{STATIC_URL}}img/icon4.png">
		</li>
		<li>
			<h1 style="color: #8a50a0;">PHOTOPROJEÇÃO</h1>
		</li>
		</ul>
	</div>

	<div class="cTexto"  style="background-color: #8a50a0; height: 320px;">
		<div class="cTextoContent">

			<ul>
			<li style="width: 55%">
			<p class="ppadrao" style="color: white;"><b>Tirou uma foto no totem? Agora é só esperar para se ver no telão. Mais interatividade e diversão para sua festa.</b>
			</p>	
			<p class="ppadrao" style="color: white; margin: 0;">Todas as fotos tiradas no Totem PhotoPlay podem ser automaticamente projetadas nos telões e televisores de seu evento. 


		    </p>

			<input type="button" value="SAIBA MAIS">

			</li>
			<li style="position: relative; margin-top: -100px;">
			<img src="{{STATIC_URL}}img/img4.png">
			</li>
		</div>	
	</div>
	<div class="cProdutosFoot" style="background-color: rgba(138, 80, 160, 0.7);">
		<div class="cIcon">
		<ul>
			<li style="width: 21%;">
				<img src="{{STATIC_URL}}img/classicon1.png">
				<h3>+DIVERSÃO</h3>
			</li>
			<li style="width: 25%;">
				<img src="{{STATIC_URL}}img/classicon2.png">
				<h3>+INTERATIVIDADE</h3>
			</li>
			<li style="width: 30%;">
				<img src="{{STATIC_URL}}img/classicon4.png">
				<h3>+RESULTADOS</h3>
			</li>
			<li>
				<input type="button" class="bPurple" value="SOLICITAR ORÇAMENTO">
			</li>	
		</ul>
		</div>
	</div>
</div>

<div class="cProdutos">
	<div class="cTitulo">
		<ul>
		<li>
			<img src="{{STATIC_URL}}img/icon5.png">
		</li>
		<li>
			<h1 style="color: #d4a92a;">PHOTOEMPRESAS</h1>
		</li>
		</ul>
	</div>

	<div class="cTexto" style="background-color: #d4a92a;">
		<div class="cTextoContent">

			<ul>
			<li style="width: 58%">
			<p class="ppadrao" style="color: white;"><b>Solução completa para a ativação de sua marca em eventos.</b> Fotos com a sua marca espalhadas pelo Facebook que geram tráfego para sua página e aumentam o engajamento dos usuários.  Crescimento da sua base de fãs e coleta de e-mails para uso em campanhas de marketing.</p>

			<input type="button" value="SAIBA MAIS">

			</li>
			<li style="position: relative; margin-top: -85px;">
			<img src="{{STATIC_URL}}img/img5.png">
			</li>
		</div>	
	</div>
	<div class="cProdutosFoot" style="background-color: rgba(212, 169, 42, 0.7);">
		<div class="cIcon">
		<ul>
			<li style="width: 21%;">
				<img src="{{STATIC_URL}}img/classicon1.png">
				<h3>+DIVERSÃO</h3>
			</li>
			<li style="width: 25%;">
				<img src="{{STATIC_URL}}img/classicon2.png">
				<h3>+INTERATIVIDADE</h3>
			</li>
			<li style="width: 30%;">
				<img src="{{STATIC_URL}}img/classicon3.png">
				<h3>+PERSONALIZAÇÃO</h3>
			</li>
			<li>
				<input type="button" class="bYellow" value="SOLICITAR ORÇAMENTO">
			</li>	
		</ul>
		</div>
	</div>
</div>

<div class="cBodyContent cFoot2">
	<div class="cBody_text cFoot2_text">
		<h1 style="width: 710px; color: #20409a;">TENHO INTERESSE EM TER O PHOTOPLAY EM MEU EVENTO!</h1>
		<p>Uma atração surpreendente. Inove oferencendo interatividade e uma nova experiência.</p>
		<input type="button" class="bBlue" value="SOLICITAR ORÇAMENTO">
	</div>
</div>



{% endblock %}


