{% extends 'portal_base.html' %}


{% block title %}
PhotoLembrança
{% endblock %}


{% block head %}
<meta content="A foto lembrança tiradas no Totem PhotoPlay é impressa na hora, com uma moldura exclusiva de seu evento." name="description">
<style type="text/css">
	#header{
		height: 100px;
		background: none;z
	}
	#header_container{
		background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%), rgba(33, 63, 154, 1); /* FF3.6+ */;
		background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%), rgba(33, 63, 154, 1); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(0,0,0,0.2))), rgba(33, 63, 154, 1); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(33, 63, 154, 1); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(33, 63, 154, 1); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(33, 63, 154, 1); /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%), rgba(33, 63, 154, 1); /* W3C */	
		position: fixed;
		z-index: 999;
	}
	#parallax1{
		height: 200px;
		width: 1400px;
		position: relative;
		background-image: url("{{STATIC_URL}}/img/parallax1_produtos.jpg");
	}
	#parallax2{
		height: 510px;
		width: 1400px;
		position: relative;
		background-image: url("{{STATIC_URL}}/img/parallax2_produtos.jpg");
	}
	.cHeader{
		background-color: rgb(80,184,72);
		height: 100px; 
		width: 1400px;
	}
	.cHeaderContent{
		width: 1000px;
		left: 50%;
		margin-left: -500px;
		position: relative;
	}
	.cHeader ul{
		list-style: outside none none;
		margin: 0;
		padding: 0;
	}
	.cHeader li{
		float: left;
		margin: 30px 11px 0 0;
	}
	.cHeader h1{
		color: white;
		font-size: 32px;
		margin: 0;
	}
	.cBody{
		background-color: rgb(255,255,255);
		width: 1400px;
	}
	.cBody_img{
		width:  340px;
		display: table-cell;
		position: static;
		vertical-align: middle;
	}
	.cBody p{
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-size: 15px;
	}
	.container1{
		height: 530px;
	}
	.container2{
		height: 470px;
	}
	.cFoot1{
		background-color: rgba(80, 184, 72, 0.7);
		height: 200px; 
		width: 1400px;
	}
	.cIcon{
		position: relative;
		width: 1000px;
		left: 50%;
		margin-left: -500px;
	}
	.cIcon ul{
		margin:0;
		padding: 70px 0;
	}
	.cIcon li{
		float: left;
		list-style: outside none none;
	}
	.cIcon h3{
		font-family: "Montserrat",sans-serif;
		font-size: 20px;
		color: #fff;
		font-weight: 900;
		margin: 20px;
	}
	.cIcon h3, .cIcon img{
		float: left;
	}
</style>
{% endblock %}


{% block content %}
<div id="parallax1" class="bgParallax" data-speed="9"></div>
<div>
	<div class="cHeader">
		<div class="cHeaderContent">
			<ul>
			<li>
				<img src="{{STATIC_URL}}/img/icon1_b.png">
			</li>
			<li>
				<h1>PHOTOLEMBRANÇA</h1>
			</li>
			</ul>
		</div>
	</div>
	<div class="cBody container1">
		<div class="cBodyContent">
			<div class="cBody_text">
				<h1 style="font-size: 38px; font-weight: 700;">FOTOS IMPRESSAS</h1>
				<h1 style="font-size: 26px; font-weight: 300;">INSTANTANEAMENTE EM DIVERSOS FORMATOS</h1>

				<p>Investir em um evento mmorável para as pessoas mais importante de sua vida exige dedicação e planejamento, o processo é arduo mas no final a sensação é unica e sempre vale a pena</p>

				<p>A PhotoPlay respeita cada miuto de dedicação e oferece aos seus clientes ferramentas para que o momento seja ainda mais feliz. Nossa solução permite que cada minuto seja eternizado e as lembranças, o que de fato vale a pena, serão muito mais vivas e divertidas</p>

				<p>Para Casamentos, Formaturas, Festas de Aniversário, Confraternizações e Festas de 15 anos.</p>
			</div>

			<div class="cBody_img">
				<img src="{{STATIC_URL}}img/img1.png" >
			</div>
		</div>
	</div>
</div>
<div id="parallax2" class="bgParallax" data-speed="9"></div>
<div>
	<div class="cBody container2">
		<div class="cBodyContent">
			<div class="cBody_text">
				<h1 style="font-size: 38px; font-weight: 700;">FOTOS PERSONALIZADAS</h1>
				<h1 style="font-size: 26px; font-weight: 300;">ESCOLHA A MOLDURA DAS FOTOS</h1>

				<p>As fotos processadas por nosso sistema recebem uma moldura personalizada antes de serem impressas e entregues para seus convidados.</p>

				<p>Além disso, todas as fotos são organizadas e ficam disponíveis em uma galeria online para serem conferidas e baixadas após o evento.</p>
			</div>

			<div class="cBody_img">
				<img src="{{STATIC_URL}}img/img1.png" >
			</div>
		</div>
	</div>
	<div class="cFoot1">
		<div class="cIcon">
		<ul>
			<li style="width: 29%;">
				<img src="{{STATIC_URL}}img/classicon1_g.png">
				<h3>+DIVERSÃO</h3>
			</li>
			<li style="width: 38%;">
				<img src="{{STATIC_URL}}img/classicon2_g.png">
				<h3>+INTERATIVIDADE</h3>
			</li>
			<li style="width: 33%;">
				<img src="{{STATIC_URL}}img/classicon3_g.png">
				<h3>+PERSONALIZAÇÃO</h3>
			</li>
		</ul>
		</div>
	</div>
	<div class="cBodyContent cFoot2">
		<div class="cBody_text cFoot2_text">
			<h1 style="width: 710px;">TENHO INTERESSE EM TER O PHOTOPLAY EM MEU EVENTO!</h1>
			<p>Uma atração surpreendente. Inove oferencendo interatividade e uma nova experiência.</p>
			<a href="{% url 'Contato' %}"><input type="button" value="SOLICITAR ORÇAMENTO"></a>
		</div>
	</div>
</div>

{% endblock %}